// ==========================================================================
// Global Config
// ==========================================================================

// FONTS
// Font Families
$font-family--import        : "https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap";
$font-family--primary       : "Turret Road", sans-serif;
$font-family--secondary     : sans-serif;

// Font Weights
$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 600;
$font-weight--ultra-bold : 900;

// Text
$base__font-size    : 18px;
$font-size--title   : 48px; 
$font-size--prim    : 36px;
$font-size--secn    : 23px;
$font-size--thrd    : 16px;
$font-size--small   : 13px;
$base__line         : 24px;
$letter-space       : 1px;

// ==========================================================================

// COLOURS
// Base Colours
$white : #fdfdfd;
$black : #0b0b0b;
$grey  : #828994;

// Unique Colours
// $colour				: #000000;
$dark-orchestra			: #391f1f;
$pink-lace				: #ffdde1;
$charcoal-grey			: #2f2e30;
$deep-crimson			: #180d0d;
$dark-siena				: #291616;
$deep-forest			: #0a1c0b;

// Colour Specifications
$colour-primary				: $dark-orchestra;
$colour-secondary			: $dark-siena;
$colour-tertiary			: $deep-crimson;
$colour-font				: $pink-lace;
$colour-btn					: $deep-forest;

$colour-font-placeholder	: rgba($charcoal-grey, .8);
$colour-border				: rgba($charcoal-grey, .5);
$colour-shadow				: rgba($black, .2);
$colour-dimmed-bg			: rgba($black, .8);

// Color Palette Modifiers
$color-palettes: (
	grey: (
		xx-light : lighten($grey, 43%),
		x-light  : lighten($grey, 35%),
	  light    : lighten($grey, 12%),
	  base     : $grey,
	 	dark     : darken($grey, 8%),
	 	x-dark   : darken($grey, 16%)
	),
	black: (
		light    : lighten($black, 10%),
		base     : $black,
		dark     : darken($black, 10%)
	)
);

// ==========================================================================

// VISUAL FLAIR
// Border Radius
$border-rad-curved			: 8px;
$border-rad-smooth			: 12px;
$border-rad-circle			: 50%;

// Border styles
$border-standard			: 3px solid $colour-border;
$border-input				: 1px solid $grey;
$border-single				: 3px solid $black;

// Box Shadows
$box-shadow-input			: 0 0 0 3px rgba($grey, 0.15);
$box-shadow-image			: 3px 3px 3px 5px $colour-shadow;

// Padding
$padding-standard			: 12px 16px;
$padding-container			: 36px;
$gap-standard				: 24px;

// ==========================================================================

// Breakpoints
$brkpoint-xs    : 1px;
$brkpoint-mob   : 300px;
$brkpoint-sm    : 768px;
$brkpoint-md    : 992px;
$brkpoint-lg    : 1260px;