// ==========================================================================
// full Container
// ==========================================================================

#container {
    width: 100%;
    padding: $padding-container;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: $padding-container	;
    transition: $trans-form; // Smooth shifting animation
    overflow-x: clip;
    
    .retainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        &.image-generator{
            border: $border-standard;
            border-radius: $border-rad-smooth;
            background-color: $colour-secondary;
            padding: em(10px);
            max-width: $brkpoint-lg;
            flex-direction: column;
            align-items: flex-start;
            
            @include mq(medium){
                flex-direction: row; // Switches layout to side-by-side columns
                gap: $gap-standard;
            }
        }
    }
}