// ==========================================================================
// full Container
// ==========================================================================

#container {
    width: 100%;
    border-radius: $border-smooth;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    transition: transform 0.3s ease-in-out; // Smooth shifting animation
    overflow-x: clip;
    
    .retainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}