// ==========================================================================
// Base
// ==========================================================================

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family--primary;
    font-size: $base__font-size;
    line-height: ($base__line/$base__font-size);
    color: $colour-font;
    margin: 0;
    background-color: $colour-primary;
    overflow-x: hidden;
}

h4, .h4{
    color: $colour-font-dark;
    font-size: $font-size--thrd;
    text-align: center;
}

h3, .h3{
    font-size: $font-size--secn;
    text-align: start;
}

h2, .h2{
    font-size: $font-size--prim;
    margin-bottom: auto;
    text-align: center;
}

h1, .h1{
    font-size: $font-size--title;
    text-decoration: underline;
    text-align: center;
    padding: 0 em(10px);
}

img {
    display: block;
    border: $border-standard;
    
    border-radius: $border-rad-curved;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

p{
    padding-bottom: em(20px);
    text-align: center;
}

a{
    color: $colour-font;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}