// ==========================================================================
// Base
// ==========================================================================

* {
    box-sizing: border-box;
}

body {
    font-family: $font-family--primary;
    font-size: $base__font-size;
    line-height: ($base__line/$base__font-size);
    margin: 0;
    background-color: $white;
    overflow-x: hidden;
}