// ==========================================================================
// Button Handler
// ==========================================================================

.btn{
    width: 100%;
    background-color: $colour-font;
    color: $colour-btn;
    border: none;
    padding: $padding-standard;
    border-radius: $border-rad-curved;
    cursor: pointer;
    transition: $trans-colour;
    font-weight: $font-weight--bold;

    &:hover {
        color: $colour-font;
        background-color: $colour-btn;
    }

    &:active {
        transform: scale(0.99); // Interactive click depth feedback
    }

    &.btn-delete-image{
        font-size: $font-size--small;
        position: absolute;
        top: em(5px); 
        right: em(5px); 
        width: auto;
        background-color: palette(red);
        border: none;
        border-radius: $border-rad-circle;
        color: $black;
        padding: em(10px);
        z-index: 998;
        &:hover{
            background-color: palette(red, dark);
            color: $colour-font;
        }
        &:active{
            background-color: palette(red, light);
        }
    }

    &.btn-secondary {
        background-color: palette(grey);
        color: $colour-font-dark;

        &:hover {
            background-color: palette(grey, light);
        }
    }

    &.btn-danger {
        background-color: palette(red);
        color: $white;

        &:hover {
            background-color: palette(red, dark);
        }
    }
}

