// ==========================================================================
// Button Handler
// ==========================================================================

.btn{
    width: 100%;
    background-color: $colour-font;
    color: $colour-btn;
    border: none;
    padding: $padding-standard;
    border-radius: $border-rad-curved;
    cursor: pointer;
    transition: background-color 0.15s ease;

    &:hover {
        color: $colour-font;
        background-color: $colour-btn;
    }

    &:active {
        transform: scale(0.99); // Interactive click depth feedback
    }
}