// ==========================================================================
// Footer
// ==========================================================================

footer{
    border-top: 3px solid $black;
    border-radius: $border-rad-smooth $border-rad-smooth 0 0;
    background-color: $colour-tertiary;
    width: 100vw;
    padding-bottom: 20px;
    // .footer-retainer{

    // }
}