// ==========================================================================
// Footer
// ==========================================================================

footer{
    border-top: $border-single;
    border-radius: $border-rad-smooth $border-rad-smooth 0 0;
    background-color: $colour-tertiary;
    width: 100vw;
    padding-bottom: em(20px);
}