// ==========================================================================
// Header
// ==========================================================================

header{
    border-radius: 0 0 $border-rad-smooth $border-rad-smooth;
    border-bottom: $border-single;
    background-color: $colour-tertiary;
    width: 100vw;
    padding: em(10px) 0;
}