// ==========================================================================
// Header
// ==========================================================================

header{
    border-radius: 0 0 $border-rad-smooth $border-rad-smooth;;
    border-bottom: 3px solid $black;
    background-color: $colour-tertiary;
    width: 100vw;
    padding: 10px 0;
}