// ==========================================================================
// Image Repository
// ==========================================================================

#email-image-storage {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 25px;

    .stored-entry {
        display: flex;
        flex-wrap: wrap; /* Allows image-containers to flow into row(s) below */
        gap: 25px; /* Space between the image containers */
        padding: 0 20px;

        // Forces the email text to take up 100% width, pushing images to the next row
        > h3:first-child {
            width: 100%;
            margin-bottom: 0.5rem;
        }

        // Individual image container blocks
        .image-container {
            display: inline-flex;
            img{
                box-shadow: 3px 3px 3px 5px $colour-shadow;
                transition: transform 0.3s ease; // Smooths the movement
                &:hover {
                    transform: translateY(-8px); // Moves image up by 8px
                    cursor: pointer;
                }
            }
        }
    }
}