// ==========================================================================
// Image Repository
// ==========================================================================

#email-image-storage {
    display: flex;
    flex-direction: column;
    gap: $gap-standard;
    margin-bottom: $gap-standard;

    .stored-entry {
        display: flex;
        flex-wrap: wrap; /* Allows image-containers to flow into row(s) below */
        gap: $gap-standard; /* Space between the image containers */
        padding: 0 em(20px);
        justify-content: center;
        // Forces the email text to take up 100% width, pushing images to the next row
        > h3:first-child {
            width: 100%;
            margin-bottom: em(8px);
        }

        // Individual image container blocks
        .image-container {
            display: inline-flex;
            img{
                width: em(350px);
                height: em(250px);
                box-shadow: $box-shadow-image;
                transition: $trans-form;
                &:hover {
                    transform: translateY(em(-8px)); // Moves image up by 8px
                    cursor: pointer;
                }
            }
        }
    }
}