// ==========================================================================
// Random Image Holder
// ==========================================================================

.intructions {
    order: -1; // Pushes instructions to the top of the stack
    margin: 0 0 em(20px) 0;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        
        li {
            margin-bottom: em(10px);
        }
    }
}

.media-controls {
    display: flex;
    flex-direction: column;
}

#random-image-container {
    width: 100%;
    min-height: em(400px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-rad-curved;
}

.btn.newRandom {
    align-self: flex-start;
}

// Tablet / Desktop View
@include mq(medium){
    .intructions {
        order: 0; // Resets order so it displays on the right side
        flex: 1; 
        margin: 0;
    }
    
    .media-controls {
        flex: 1;
    }

    #random-image-container {
        margin: 0 0 em(20px) 0;
        padding: em(20px);
        background: $colour-tertiary;
    }
}